{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block component_offcanvas_cart_items %}
    {{ parent() }}

    {% if config('FroshPlatformShareBasket.config.showSaveCartButtonOnOffcanvas') %}
        {% block frosh_share_basket_offcanvas_form %}
            {% set froshBasketAjaxSubmitOptions = {
                replaceSelectors: ".js-frosh-share-basket-container",
                submitOnce: true,
            } %}

            {% if page.froshShareBasketState == 'cartExists' %}
                {% sw_include '@Storefront/storefront/utilities/frosh-share-basket.html.twig' with {
                    froshShareBasketUrl: page.froshShareBasketUrl,
                    froshShareBasketState: page.froshShareBasketState,
                } %}

            {% elseif page.froshShareBasketState != 'cartLoaded' %}
                <div class="js-frosh-share-basket-container" data-frosh-share-basket-buttons="true">
                    <form action="{{ path('frontend.frosh.share-basket.save') }}"
                          method="post"
                          class="js-frosh-share-basket-form"
                          data-form-ajax-submit="true"
                          data-form-ajax-submit-options="{{ froshBasketAjaxSubmitOptions|json_encode }}">

                        {% block frosh_share_basket_offcanvas_save_button %}
                            <button type="submit" class="btn btn-primary">
                                {{ "frosh-share-basket.saveCart"|trans }}
                            </button>
                        {% endblock %}
                    </form>
                </div>
            {% endif %}
        {% endblock %}
    {% endif %}
{% endblock %}
